{{ 'ecom-banner.css' | asset_url | stylesheet_tag }}

{% liquid
  assign banner_img = section.settings.banner_image
  assign heading = section.settings.heading
  assign description = section.settings.description
  assign bottom-bar-text = section.settings['bottom-bar-text']
  assign button_text = section.settings.button_text
  assign btn_link = section.settings.btn_link
%}

<div class="ecom-banner-wrapper">
  <div class="ecom-banner-media">
    <img src="{{ banner_img | img_url: "master" }}" class="banner-img" alt="Banner Image">
  </div>
  <div class="banner__content ">
    {% if heading != blank %}
      <h1>{{ heading }}</h1>
    {% endif %}
    {% if description != blank %}
      <p>
        {{ description }}
      </p>
    {% endif %}
    {% if button_text != blank %}
      <a href="{{ btn_link }}" class="button ecom-btn">{{ button_text }}</a>
    {% endif %}
  </div>
  {% if bottom-bar-text != blank %}
    <div class="ecom-banner-bottom-bar">
      <p>{{ bottom-bar-text }}</p>
    </div>
  {% endif %}
</div>

{% schema %}
{
  "name": "Ecom Banner",
  "settings": [
      {
      "type": "image_picker",
      "id": "banner_image",
      "label": "Banner Image"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading"
    },
    {
         "type": "textarea",
      "id": "description",
      "label": "Description"
    },
     {
         "type": "text",
      "id": "bottom-bar-text",
      "label": "Bottom Bar Text"
    },
      {
         "type": "text",
      "id": "button_text",
      "label": "Button Text"
    },
      {
         "type": "url",
      "id": "btn_link",
      "label": "Button Link"
    }
  ],
  "presets": [
    {
      "name": "Ecom Banner"
    }
  ]
}
{% endschema %}
